@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding:0;
  box-sizing:border-box;
  min-height: 100vh;
}

.todo-create{
  text-align:center;
  margin:1rem 0;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}

.todo-create input{
  border-bottom:1px solid black;
  outline:none;
  background:transparent;
  width:70%;
}

.todo-create button{
  background:gray;
  color:white;
  padding:5px 20px;
  border-radius:10px;
  margin-left:10px;
}